.carousel_card
{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    box-shadow: 0 0 10px 5px black;
    width: fit-content;
    max-width: 30%;
    padding: 25px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.carousel_card:hover
{
    box-shadow: none;
    background-color: white;
    border-radius: none;
    color: black;
}

.carousel_card:hover .carousel_card_text p
{
    color: black;
}


.carousel_card .carousel_card_image img
{
    width: auto !important;
    height: 46px;
    margin: 0 auto;
    z-index: 1;
    filter: drop-shadow(10px 10px 10px rgb(207, 66, 188));
}

.carousel_card .carousel_card_text
{
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    text-align: center;
}

.carousel_card .carousel_card_text p
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'SuisseIntl-Regular', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    
}

.carousel_card .carousel_card_founder
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.carousel_card .carousel_card_founder .carousel_card_founder_image img
{
    width: auto !important;
    height: 46px;
    margin: 0 auto;
}

.carousel_card .carousel_card_founder .carousel_card_founder_text
{
    text-align: left;
}

.carousel_card .carousel_card_founder .carousel_card_founder_text h3
{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'SuisseIntl-Regular', sans-serif;
}

.carousel_card .carousel_card_founder .carousel_card_founder_text p
{
    font-family: 'SuisseIntl-Regular', sans-serif;
    font-size: 12px;
    margin-top: -20px;   
}

.carousel
{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 100px;
}