.navbar
{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}


.navbar .navbar_image img
{
    width: 203px;
    aspect-ratio: auto 203 / 32;
    height: 32px;
}

.navbar .navbar_mainlinks
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar .navbar_mainlinks a
{
    font-family: 'SuisseIntl-Regular', sans-serif;
    line-height: 30px;
    color: #1a1d23;
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
    transition: 0.2s;
}

.navbar .navbar_mainlinks a:hover
{
    text-shadow: none;
}


.navbar .navbar_buttons 
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}    

.navbar .navbar_buttons button
{
    background-color: #3c94f2;
    text-decoration: none;
    color: #fff;
    font-family: 'SuisseIntl-SemiBold', sans-serif;
    font-size: 12px;
    line-height: 20px;
    border-radius: 6px;
    width: 180px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: none;
    transition: 0.5s;
}

.navbar .navbar_buttons button:hover
{
    background-color: black;
    color: white;
    font-size: 15px;
    box-shadow: 0 0 10px 5px black;
    border: none;
    text-shadow: 2px 2px 5px white;
}

.top_info
{
    
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding: 10px -3px;
    overflow: hidden;
    background: linear-gradient(180deg, #FFFFFF 0%, #FDFEFF 17.71%, #FFF2F2 100%);
    text-align: center;
}

.top_info span
{
    text-transform: uppercase;
    font-style: italic;
    font-size: 17px;
    font-weight: bolder;
    color: red;
    width: 95px;
    aspect-ratio: auto 95 / 12;
    height: 12px;
}

.top_info p
{
    font-weight: bold;
    color: #000;
    z-index: 999;
    font-size: 14px;
    font-family: 'SuisseIntl-Regular', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    text-transform: capitalize;
}

.navbar_container
{
    position: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}