/* navbar starts*/
.navbar
{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}


.navbar .navbar_image img
{
    width: 203px;
    aspect-ratio: auto 203 / 32;
    height: 32px;
}

.navbar .navbar_mainlinks
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar .navbar_mainlinks a
{
    font-family: 'SuisseIntl-Regular', sans-serif;
    line-height: 30px;
    color: #1a1d23;
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
    transition: 0.2s;
}

.navbar .navbar_mainlinks a:hover
{
    text-shadow: none;
}


.navbar .navbar_buttons 
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}    

.navbar .navbar_buttons button
{
    background-color: #3c94f2;
    text-decoration: none;
    color: #fff;
    font-family: 'SuisseIntl-SemiBold', sans-serif;
    font-size: 12px;
    line-height: 20px;
    border-radius: 6px;
    width: 180px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: none;
    transition: 0.5s;
}

.navbar .navbar_buttons button:hover
{
    background-color: black;
    color: white;
    font-size: 15px;
    box-shadow: 0 0 10px 5px black;
    border: none;
    text-shadow: 2px 2px 5px white;
}

.top_info
{
    
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding: 10px -3px;
    overflow: hidden;
    background: linear-gradient(180deg, #FFFFFF 0%, #FDFEFF 17.71%, #FFF2F2 100%);
    text-align: center;
}

.top_info span
{
    text-transform: uppercase;
    font-style: italic;
    font-size: 17px;
    font-weight: bolder;
    color: red;
    width: 95px;
    aspect-ratio: auto 95 / 12;
    height: 12px;
}

.top_info p
{
    font-weight: bold;
    color: #000;
    z-index: 999;
    font-size: 14px;
    font-family: 'SuisseIntl-Regular', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    text-transform: capitalize;
}

.navbar_container
{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/* navbar ends */

/* card heading css starts */
.card_heading_data
{
    margin-top: 100px;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.card_heading_data h3
{
    font-family: 'SuisseIntl-SemiBold', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #1a1d23;
    text-shadow: 3px 3px 10px black;
}

.card_heading_data p
{
    font-family: 'SuisseIntl-Regualr', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: black;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 16px black;
}
/* card heading css ends */

/* heading card collection css starts */
.card-section
{
    display: flex;
    flex-direction: row;
    align-content: baseline;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
    max-height: calc(2 * 200px);
    flex-wrap: wrap;
}
.card
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    transition: 1s;
    width: fit-content;
}

.card .card-image img
{
    width: 50px;
    height: 50px;
    align-items: flex-start;
    margin-top: 25px;
    margin-left: 25px;
}

.card .card-text h4
{
    margin-left: 0px;
    text-align: left;
    width: 400px;
    font-size: 20px;
    font-family: 'SuisseIntl-SemiBold', sans-serif;
}

.card .card-text p
{
    margin-left: 0px;
    text-align: left;
    width: 400px;
    font-family: 'SuisseIntl-Regular', sans-serif;
    font-size: 16px;
}

.card:hover
{
    background-color: black;
    color: white;
    text-shadow: 2px 2px 5px white;
    border-radius: 15px;
    border: none;
}
/* heading card collection css ends */

/* carsouel cards css start */
.carousel_card
{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    box-shadow: 0 0 10px 5px black;
    width: fit-content;
    max-width: 30%;
    padding: 25px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.carousel_card:hover
{
    box-shadow: none;
    background-color: white;
    border-radius: none;
    color: black;
}

.carousel_card:hover .carousel_card_text p
{
    color: black;
}


.carousel_card .carousel_card_image img
{
    width: auto !important;
    height: 46px;
    margin: 0 auto;
    z-index: 1;
    filter: drop-shadow(10px 10px 10px rgb(207, 66, 188));
}

.carousel_card .carousel_card_text
{
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    text-align: center;
}

.carousel_card .carousel_card_text p
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'SuisseIntl-Regular', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    
}

.carousel_card .carousel_card_founder
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.carousel_card .carousel_card_founder .carousel_card_founder_image img
{
    width: auto !important;
    height: 46px;
    margin: 0 auto;
}

.carousel_card .carousel_card_founder .carousel_card_founder_text
{
    text-align: left;
}

.carousel_card .carousel_card_founder .carousel_card_founder_text h3
{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'SuisseIntl-Regular', sans-serif;
}

.carousel_card .carousel_card_founder .carousel_card_founder_text p
{
    font-family: 'SuisseIntl-Regular', sans-serif;
    font-size: 12px;
    margin-top: -20px;   
}

.carousel
{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 100px;
}
/* carsouel cards css ends */

/* world card css starts */
.line_image_world
{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
}


.world_image_data
{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.world_image_data .world_image img
{
    width: 426px;
    height: 297px;
    margin-left: 35px;
}

.world_image_data .world_text
{
    font-family: 'SuisseIntl-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #1a1d23;
    width: 40%;
}

.world_image_data .world_text h3
{
    font-size: 22px;
}

.world_image_data .world_text a
{
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .world_image_data
    {
        flex-direction: column;
    }

    .world_image_data .world_text
    {
        width: 100%;
        text-align: center;
    }
}
/* world card css ends */

/* company logo css starts */
.brand_logo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
}

.brand_logo .brand_logo_text
{
    text-align: center;
}

.brand_logo .brand_logo_text h2
{
    display: block;
    max-width: 800px;
    margin: 0 auto;
    font-family: suisseintl-semibold,sans-serif;
    font-size: 32px;
    line-height: 40px;
    color: #1a1d23;
}

.brand_logo .brands
{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.brand_logo .brands .brand_image img
{
    display: inline-block;
    vertical-align: middle;
    height: 80px;
}
/* comapny logo css ends */

/* card gif starts */
.container
{
    background: #F5F8FC;
    padding: 100px 0;
}

.card_containers
{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.card_image_email
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
    align-items: start;
    margin-top: 100px;
    border-radius: 10px;
    transition: 0.5s;
    width: 50%;
    height: fit-content;
    padding: 50px;

}

.card_image_email:hover
{
    box-shadow: 0 0 10px 5px black;
    border: none;
    background-color: black;
    color: white;
    text-shadow: 2px 2px 5px white;
}

.card_image_email .card_image_logo img
{
    width: 64px;
    aspect-ratio: auto 64 / 64;
    height: 64px;
    transition: 0.5s;
}

.card_image_email .card_image_text h3
{
    font-family: 'SuisseIntl-Regular', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #1a1d23;
    transition: 0.5s;
}

.card_image_email:hover .card_image_text h3
{
    color: white;
}

.card_image_email .card_image_text
{
    font-family: 'SuisseIntl-Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
}

@media screen and (max-width: 800px) {
    .card_containers
    {
        flex-direction: column;
        gap: 0px;
    }

    .card_image_email
    {
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .card_image_email .card_image_text
    {
        text-align: center;
    }   
}

.text_body
{
    text-align: center;
    font-family: 'SuisseIntl-Regular', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.text_body h2
{
    font-size: 32px;
    font-family: 'SuisseIntl-SemiBold', sans-serif;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .text_body
    {
        font-size: 15px;
        font-weight: 200;
    }

    .text_body h2
    {
        font-size: 25px;
        font-weight: 400;
    }
}
/* card gif ends */

/* email support css starts */
.image_email_data
{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.image_email_data .people_image img
{
    width: 288px;
    aspect-ratio: auto 288 / 160;
    height: 160px;
}

.image_email_data .people_text
{
    width: 60%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 32px;
    padding-right: 20px;
    /* new add data */
    display: flex;
    flex-direction: column;
    gap: -20px;
    justify-content: left;
}

.image_email_data .people_text h2
{
    font-family: 'SuisseIntl-SemiBold', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #1a1d23;
}

.image_email_data .people_text .upper_text
{
    font-family: 'SuisseIntl-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #1a1d23;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.image_email_data .people_text .lower_text
{
    font-family: 'SuisseIntl-Regular', sans-serif;
    font-size: 12px;
    font-weight: 200;
    color: #1a1d23;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.image_email_data .people_text .lower_text a
{
    text-decoration: none;
}

.image_email_data .people_text .people_email, .people_checkbox
{
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: left;
    align-items: center;
}

.image_email_data .people_text .people_email input
{
    height: 46px;
    width: 500px !important;
    max-width: 500px !important;
    color: #76777B !important;
    padding: 10px 20px !important;
    border: 1px solid #DDDDDE !important;
    box-sizing: border-box;
    font-size: 16px !important;
    
    display: inline-block !important;
    border-radius: 6px 0 0 6px !important;
}


.image_email_data .people_text .people_email button
{
    cursor: pointer;
    background: #007BFF;
    padding: 11px 60px !important;
    display: inline-block !important;
    font-family: 'SuisseIntl-SemiBold', sans-serif;
    color: #fff;
    font-size: 16px;
    border: none;
    line-height: 24px !important;
    border-radius: 0 6px 6px 0 !important;
    width: auto !important;
    transition: 0.5s;
}

.image_email_data .people_text .people_email button:hover
{
    background-color: black;
    color: white;
    text-shadow: 2px 2px 5px white;
    font-size: 18px;
    box-shadow: 0 0 6px 3px black;
    border: none;
}
/* email support css ends */

/* footer starts */
.link_collection
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: baseline;
    margin-top: 50px;
}

.link_collection .link_collection_1
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.link_collection .link_collection_1 p
{
    font-family: 'suisseintl-Regular',sans-serif;
    padding: 22px 0;
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #1A1D23;
}

.link_collection .link_collection_1 h3
{
    font-family: 'suisseintl-medium',sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #1A1D23;
}


.link_collection .link_collection_1_image img
{
    width: 144px;
    aspect-ratio: auto 144 / 22;
    height: 22px;
}

.link_collection .link_collection_1_location h3
{
    font-family: 'suisseintl-medium',sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #1A1D23;
}

.link_collection .link_collection_1_location p
{
    font-family: 'suisseintl-Regular',sans-serif;
    padding: 22px 0;
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #1A1D23;
}

.link_collection .link_collection_1 .link_collection_1_icons
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}



.link_collection .link_collection_1 .link_collection_1_icons i
{
    width: 30px;
    aspect-ratio: auto 30 / 30;
    height: 30px;
    color: #007bff;
    overflow-clip-margin: content-box;
    overflow: clip;
    margin-right: 8px;
    text-decoration: none;
    font-size: 25px;
    transition: 0.5s;
}

.link_collection .link_collection_1 .link_collection_1_icons i:hover
{
    font-size: 30px;
    color: black;
    filter: drop-shadow(0 0 5px black);
}

.link_collection .platform_links
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    height: fit-content;
    width: fit-content;
}

.link_collection .platform_links a
{
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'suisseintl-Regular',sans-serif;
    padding: 22px 0;
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #1A1D23;
    margin-top: -25px;
    transition: 0.5s;
}

.link_collection .platform_links a:hover
{
    font-size: 18px;
}

@media screen and (max-width: 800px) {
    .link_collection
    {
        width: auto;
        flex-wrap: wrap;
    }
}
/* footer ends */